## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

## Visual Studio Code
##############################
.vscode/
.code-workspace

## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# These are important
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat
